doctype html
html(lang=lang)
    title=name
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/w3.css', integrity=integrity["w3.css"], crossorigin='anonymous')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel="stylesheet")
    style.
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
        .line-with-icon { display: inline-flex; vertical-align: middle; align-items: center; }
        a { text-decoration: none; }
        a:hover { color: #2196F3; }

    body.w3-light-grey
        // Page Container
        .w3-content.w3-margin-top(style='max-width:1400px;')
            // The Grid
            .w3-row-padding
                // Left Column
                .w3-third
                    .w3-white.w3-text-grey.w3-card-4
                        if data.img
                            .w3-display-container
                                img(src=data.img, style='width:100%', alt='Avatar')
                                .w3-display-bottomleft.w3-container.w3-text-black
                                    h2= data.name
                        .w3-container
                            if !data.img
                                h2= data.name
                            p
                                span.line-with-icon
                                    i.w3-margin-right.w3-large.material-icons(class='w3-text-' + data.color) work
                                    | #{data.occupation}
                            p
                                span.line-with-icon
                                    i.w3-margin-right.w3-large.material-icons(class='w3-text-' + data.color) location_on
                                    | #{data.location.city}, #{data.location.country}
                            p
                                span.line-with-icon
                                    i.w3-margin-right.w3-large.material-icons(class='w3-text-' + data.color) mail
                                    a(href='mailto:' + data.email)= data.email
                            hr
                            p.w3-large
                                b
                                    span.line-with-icon
                                        i.w3-margin-right.material-icons(class='w3-text-' + data.color) star
                                        | Skills
                                each skill in data.skills
                                    p= skill.name
                                    .w3-light-grey.w3-round-xlarge.w3-small
                                        .w3-container.w3-center.w3-round-xlarge(style='width:' + skill.level + '%;height:18px;', class='w3-' + data.color)
                            br
                            p.w3-large.w3-text-theme
                                b
                                    span.line-with-icon
                                        i.w3-margin-right.material-icons(class='w3-text-' + data.color) language
                                        | Languages
                                each lang in data.languages
                                    p= lang.name
                                    .w3-light-grey.w3-round-xlarge
                                        .w3-round-xlarge(style='height:18px;width:' + lang.level + '%', class='w3-' + data.color)
                            br
                    br
                    if data.ressources
                        .w3-container.w3-card-2.w3-white.w3-margin-bottom
                            h2.w3-text-grey.w3-padding-16
                                span.line-with-icon
                                    i.w3-margin-right.w3-xxlarge.material-icons(class='w3-text-' + data.color) folder_open
                                    | Ressources
                            each ressource, index in data.ressources
                                .w3-container
                                    p
                                        a.line-with-icon(href=ressource.link, target="_blank")
                                            i.w3-margin-right.material-icons(class='w3-text-' + data.color) attach_file
                                            | #{ressource.name}
                    // End Left Column
                // Right Column
                .w3-twothird
                    .w3-container.w3-card-2.w3-white.w3-margin-bottom
                        h2.w3-text-grey.w3-padding-16
                            span.line-with-icon
                                i.w3-margin-right.w3-xxlarge.material-icons(class='w3-text-' + data.color) work
                                | Work Experience
                        each exp, index in data.workExperience
                            .w3-container
                                h5.w3-opacity
                                    b
                                        | #{exp.title}
                                        if exp.employer
                                            |  / #{exp.employer}
                                h6(class='w3-text-' + color)
                                    span.line-with-icon
                                        i.w3-margin-right.material-icons date_range
                                        | #{exp.from}
                                        if exp.current
                                            |  -&nbsp;
                                            span.w3-tag.w3-round.w3-text-white(class='w3-' + data.color) Current
                                        else if exp.to
                                            |  - #{exp.to}
                                p
                                    | #{exp.description}
                                if index < data.workExperience.length - 1
                                    hr
                    .w3-container.w3-card-2.w3-white.w3-margin-bottom
                        h2.w3-text-grey.w3-padding-16
                            span.line-with-icon
                                i.w3-margin-right.w3-xxlarge.material-icons(class='w3-text-' + data.color) school
                                | Education
                        each edu, index in data.education
                            .w3-container
                                h5.w3-opacity
                                    b= edu.name
                                h6(class='w3-text-' + data.color)
                                    i.w3-margin-right.material-icons date_range
                                    | #{edu.from}
                                    if edu.to
                                        |  - #{edu.to}
                                if edu.degree
                                    p= edu.degree
                                if index < data.education.length - 1
                                    hr
                    if data.projects
                        .w3-container.w3-card-2.w3-white.w3-margin-bottom
                            h2.w3-text-grey.w3-padding-16
                                span.line-with-icon
                                    i.w3-margin-right.w3-xxlarge.material-icons(class='w3-text-' + data.color) library_books
                                    | Projects
                            each project, index in data.projects
                                .w3-container
                                    h5.w3-opacity
                                        b= project.name
                                    p= project.description
                                    if project.link
                                        p
                                            a.line-with-icon(href=project.link, target="_blank")
                                                i.w3-margin-right.material-icons(class='w3-text-' + data.color) code
                                                | #{project.link}
                                    if index < data.projects.length - 1
                                        hr
                    // End Right Column
                // End Grid
            // End Page Container
        //footer.w3-container.w3-center.w3-margin-top(class='w3-' + color)
            p
                | Powered by&nbsp;
                a(href='https://www.w3schools.com/w3css/default.asp', target='_blank') w3.css
